.login-card {
  max-width: 450px;
  min-width: 400px;
  margin: auto;
  margin-top: auto
}

.login-google:hover {
  background-color: #eaeaea;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);
}

.login-google {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}
