<div class="container text-center d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card login-card shadow"
        [ngStyle]="{'min-width': !desktop ? '90vw' : '450px'}">
        <div class="card-body">
            <div class="brand-wrapper text-center">
                <img src="/assets/svg/MyWasteAppLogo.svg" width="90" height="90" class="mb-1">
                <h4 class="pl-2 text-muted">WasMo</h4>
            </div>
            <p class="font-italic text-muted">Ingresa en tu cuenta</p>
            <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" class="text-left">
                <div class="form-group">
                <label class="text-muted" for="email"><i class="fas fa-envelope text-waste"></i> Email</label>
                <input
                    id="emailLogin"
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="Email"
                    required
                    [ngClass]="{
                        'is-valid': email && email.valid,
                        'is-invalid': email && email.errors && (email.dirty || email.touched)}"/>
                </div>

                <div class="form-group mt-1">
                <label class="text-muted" for="password"><i class="fas fa-key text-waste"></i> Contraseña</label>
                <input
                    id="passwordLogin"
                    type="{{showPassword}}"
                    class="form-control"
                    formControlName="password"
                    placeholder="Contraseña"
                    required
                    [ngClass]="{
                        'is-valid': password && password.valid,
                        'is-invalid': password && password.errors && (password.dirty || password.touched)}"/>
                </div>
                
                <a class="text-waste mr-1" (click)="togglePassword()">
                    <i class="far fa-eye-slash" *ngIf="showPassword == 'password'"></i>
                    <i class="far fa-eye" *ngIf="showPassword == 'text'"></i>
                </a>
                <label class="form-check-label text-muted" for="defaultCheck1">
                    Mostrar Contraseña
                </label>
                

                <p class="text-danger" *ngIf="feedback"><i class="fas fa-exclamation-triangle"></i> {{feedback}}</p>

                <button [disabled]="!LoginForm.valid" class="btn btn-waste btn-lg btn-block mt-4 shadow">
                Ingresar <i class="fas fa-sign-in-alt"></i>
                </button>
            </form>

            <button class="btn btn-ligth btn-lg btn-block mt-4 login-google" (click)="loginGoogle()"> 
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                 Ingresar con Google
            </button>

            <div class="mt-3">
                <a href="#!" class="forgot-password-link text-secondary" routerLink="/recover-password">Olvidaste tu contraseña?</a>
                <p class="login-card-footer-text">
                No tienes una cuenta?
                <a class="text-secondary" href="#!" routerLink="/register">Registrate aqui</a>
                </p>
            </div>
        </div>
    </div>
  </div>