<div class="container text-center">
    <div class="card login-card shadow">
        <div class="card-body">
            <div class="brand-wrapper text-center">
                <img src="/assets/svg/MyWasteAppLogo.svg" width="90" height="90" class="mb-1">
                <h4 class="pl-2 text-muted">WasMo</h4>
            </div>
            <p class="font-italic text-muted">Crea una cuenta nueva</p>
            <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" class="text-left">
                <div class="form-group">
                <label class="text-muted" for="email"><i class="fas fa-envelope text-waste"></i> Email</label>
                <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="Email"
                    required
                    [ngClass]="{
                        'is-valid': email && email.valid,
                        'is-invalid': email && email.errors && (email.dirty || email.touched)}"/>
                </div>

                <div class="form-group mt-1 ">
                    <label class="text-muted" for="password"><i class="fas fa-key text-waste"></i> Contraseña</label>
                    <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="Contraseña"
                    required
                    [(ngModel)]="passwordI"
                    [ngClass]="{
                        'is-valid': password && password.valid && passwordI == passwordConfirmI,
                        'is-invalid': password && password.errors && (password.dirty || password.touched)}"/>
                </div>

                <div class="form-group mt-1 ">
                    <label class="text-muted" for="passwordConfirm"><i class="fas fa-key text-waste"></i> Confirmar Contraseña</label>
                    <input
                    type="password"
                    class="form-control"
                    formControlName="passwordConfirm"
                    placeholder="Contraseña"
                    required
                    [(ngModel)]="passwordConfirmI"
                    [ngClass]="{
                        'is-valid': passwordConfirm && passwordConfirm.valid && passwordI == passwordConfirmI, 
                        'is-invalid': passwordConfirm && passwordConfirm.errors && (passwordConfirm.dirty || passwordConfirm.touched)}"/>
                </div>

                <p class="text-danger" *ngIf="feedback"><i class="fas fa-exclamation-triangle"></i> {{feedback}}</p>
                
                <button [disabled]="!RegisterForm.valid" class="btn btn-waste btn-lg btn-block mt-4 shadow">
                Registrarte <i class="fas fa-sign-in-alt"></i>
                </button>
            </form>

            <div class="mt-3">
                <p class="login-card-footer-text">
                Ya tienes una cuenta?
                <a class="text-secondary" href="#!" routerLink="/login">Ingresa aqui</a>
                </p>
            </div>
        </div>
    </div>
  </div>
