<app-cargando [isLoaded]="isLoaded"></app-cargando>

<div *ngIf="isLoaded">

  <div *ngFor="let p of pasivos; index as i">

    <hr class="m-0">

    <div>    
      <div class="pasivo-card d-flex text-muted pt-3" >
        <h1><span class="badge badge"><i class=""></i></span></h1>

          <div class="ml-2 mb-0 small lh-sm w-100">
            <div class="d-flex justify-content-between">
              <strong class="text-gray-dark"></strong>              
            </div>
            <span class="d-block">{{1 | date: 'dd/MM/yyyy'}}</span>
            <span class="d-block">total: {{12 | currency}}</span>
            <a class="btn btn-outline-waste btn-drop" (click)="toggleGastos(i)">
              <i class="fas fa-angle-down" *ngIf="!openTable[i]"></i>
              <i class="fas fa-angle-up" *ngIf="openTable[i]"></i>
            </a>
          </div>
      </div>      

      <app-gasto-info
        [idPasivo]="1"
        [total]="1"
        [openTable]="openTable[i]">
      </app-gasto-info> 
    </div>
     
  </div>
  
</div>

