<div class="sidebar-sticky bg-dark text-white">    
    <div class="text-center">
        <a class="navbar-brand text-white" [routerLink]="['/home']">
            <img src="/assets/svg/MyWasteAppLogo.svg" width="30" height="30" class="mb-1">
            <span class="ml-1">WasMo</span>          
        </a>
    </div>    

    <ul class="nav flex-column ml-2">

        <p class="text-white">Egresos</p>
        <li routerLinkActive="active" class="nav-item" >
            <a  class="nav-drop" data-target="#cargar" data-toggle="collapse" role="button" aria-expanded="true">
                <p><i class="fas fa-file-upload"></i> Cargar <i class="fas fa-angle-down mr-4 mt-1" style="float: right;"></i></p>
            </a>

            <ul class="nav ml-2 collapse" id="cargar">
                <li routerLinkActive="active">
                    <a class="nav-custom" role="button"
                        [routerLink]="['/gastos/fijos/cargar']">                                
                        <p class="font-weight-light">Gastos Fijos</p>
                    </a>
                </li>  

                <li routerLinkActive="active">
                    <a class="nav-custom" role="button"
                        [routerLink]="['/gastos/variables/cargar']">                                
                        <p class="font-weight-light">Gastos Variables</p>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a class="nav-custom disable-links" role="button">                                
                        <p class="font-weight-light">Errores/Omisiones</p>
                    </a>
                </li>
            </ul>       
            
            <a class="nav-custom" role="button"
                [routerLink]="['/gastos/variables']">                                
                <p class="font-weight-light"><i class="fas fa-list"></i> Gastos variables</p>
            </a>

            <a class="nav-custom" role="button"
                [routerLink]="['/gastos/fijos']">                                
                <p class="font-weight-light"><i class="fas fa-list"></i> Gastos Fijos</p>
            </a>
        </li>         

        <p class="text-white mt-2">Ingresos</p>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-custom" role="button"
                [routerLink]="['/ingresos/cargar']">                                
                <p class="font-weight-light"><i class="fas fa-file-upload"></i> Cargar Ingreso</p>
            </a>

            <a class="nav-custom" role="button"
                [routerLink]="['/ingresos']">                                
                <p class="font-weight-light"><i class="fas fa-list"></i> Ingresos</p>
            </a>
        </li>

        <!-- <p class="text-white mt-2">Util</p>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-custom" role="button">                                
                <p class="font-weight-light"><i class="fas fa-calculator"></i> Calculadora de Interes</p>
            </a>
        </li> -->

        <p class="text-white mt-2">Estadisticas</p>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-custom" role="button"
                [routerLink]="['/estadisticas']">                                
                <p class="font-weight-light"><i class="fas fa-chart-line"></i> Consumo</p>
            </a>
        </li>

    </ul>
</div>
