<app-gasto-form 
  (chargeItemsEmitter)="onCategoriasReady($event)"
  (subCategoriasEmitter)="onSubCategoria($event)"
  (categoriaIndexEmitter)="onCategoriaIndex($event)"
  (categoriaEmitter)="onCategoria($event)"
  (EgresoIndexEmitter)="onEgreso($event)"
  (PasivoIndexEmitter)="onPasivo($event)"
  [categorias]="categorias"
  [subCategorias]="subCategorias"
  [formasDePago]="formasDePago"
  [categoriasSubCategorias]="categoriasSubCategorias">
</app-gasto-form>

<app-gasto-add-items
  [chargeItems]="chargeItems"
  [categoriaIndex]="categoriaIndex"
  [categoria]="categoria"
  [subCategorias]="subCategoriasSelect">
</app-gasto-add-items>