<app-dashboard>

    <div class="d-flex align-items-center p-3 my-3 text-white bg-waste rounded shadow">        
        <h3 class="my-0 fw-normal text-white text-center">Ingresos</h3>
    </div>

    <div class="card text-left shadow">
      <div class="card-body">

        <app-cargando [isLoaded]="activo"></app-cargando>

        <table class="table table-hover table-sm" *ngIf="activo">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tipo ingreso</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of activo.ingresos">
                    <td scope="row">
                        {{i.fecha.toMillis()  | date: 'dd/MM/yyyy'}}
                        <span class="badge badge-waste" *ngIf="(todayDate.getTime() - i.createDate?.toDate().getTime())/1000/60/60 < 2">NEW</span>
                    </td>
                    <td>{{i.tipoIngreso}}</td>
                    <td>{{i.concepto}}</td>
                    <td>{{i.monto | currency}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

</app-dashboard>


