<app-dashboard>

    <div class="d-flex align-items-center p-3 my-3 text-white bg-waste rounded shadow" *ngIf="desktop">        
        <h3 class="my-0 fw-normal text-white text-center">Home</h3>
    </div>

    <div class="row mb-3" >
        <div class="col-12 col-sm-4 col-xxl d-flex">
          <div class="card border-left-green flex-fill shadow">
            <div class="card-body py-4">
              <app-cargando [isLoaded]="pasivo"></app-cargando>
              <div class="media" *ngIf="pasivo">
                <div class="media-body">
                    <div class="row no-gutters align-items-center info-card">
                        <div class="text-xs text-green text-uppercase mb-1">
                            Ingreso Neto
                        </div>
                        <div class="h2 mb-0 font-weight-bold text-muted long-text">{{totalIngresos | currency}}</div>
                        <p class="mb-2 text-muted">Ingreso mensunal Neto del mes de {{mes}}</p>                                       
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-xxl d-flex">
            <div class="card border-left-waste flex-fill shadow"
              [ngClass]="{
              'border-left-danger': totalGastado > totalIngresos,
              'border-left-waste': totalGastado <= totalIngresos}">
              <div class="card-body py-4">
                <app-cargando [isLoaded]="pasivo"></app-cargando>
                <div class="media" *ngIf="pasivo">
                  <div class="media-body">
                      <div class="row no-gutters align-items-center info-card">
                          <div class="text-xs text-uppercase mb-1"
                            [ngClass]="{
                            'text-danger': totalGastado > totalIngresos,
                            'text-waste': totalGastado <= totalIngresos}">
                            Balance
                          </div>
                          <div class="h2 mb-0 font-weight-bold long-text"
                            [ngClass]="{
                            'text-danger': totalGastado > totalIngresos,
                            'text-muted': totalGastado <= totalIngresos}">
                            {{totalIngresos-totalGastado | currency}}
                          </div>  
                          <p class="mb-2 text-muted" *ngIf="totalGastado > totalIngresos">
                            <i class="fas fa-exclamation-triangle text-danger"></i>  
                            Tus gastos han superado tu presupuesto
                          </p> 
                          <div *ngIf="totalGastado <= totalIngresos">
                            <p class="mb-2 text-muted">Presupuesto restante del mes de {{mes}}</p> 
                            <div class="progress mt-2">
                                <div class="progress-bar bg-waste" role="progressbar" style="width: {{(1-totalGastado/totalIngresos)*100}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{1-totalGastado/totalIngresos | percent}}</div>
                            </div>
                          </div>                                                           
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-xxl d-flex">
            <div class="card border-left-danger flex-fill shadow">
              <div class="card-body py-4">
                <app-cargando [isLoaded]="pasivo"></app-cargando>
                <div class="media" *ngIf="pasivo">
                  <div class="media-body">
                      <div class="row no-gutters align-items-center info-card">
                          <div class="text-xs text-danger text-uppercase mb-1">
                              Gastos de {{mes}}
                          </div>
                          <div class="h2 mb-0 font-weight-bold text-muted long-text">{{totalGastado | currency}}</div>
                          <p class="mb-2 text-muted">Gastos variables y fijos del mes de {{mes}}</p>                                       
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="card shadow mt-2">
        <div class="card-body">
          <app-calender [pasivo]="pasivo"></app-calender>
        </div>
      </div>
        
</app-dashboard>

