.container {
  max-width: 100vw;
}

.info-card {
  display: block;
}

.long-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  display: inline-block;
  max-width: 90%;
}

.border-left-primary {
  border-left: 0.75rem solid #4e73df !important;
}

.border-left-green {
  border-left: 0.75rem solid #28a745  !important;
}

.border-left-warning {
  border-left: 0.75rem solid #f6c23e !important;
}

.border-left-danger {
  border-left: 0.75rem solid #e74a3b !important;
}

.border-left-waste {
  border-left: 0.75rem solid #84329b !important;
}

.mobile .h2{
  font-size: 1.2rem;
}

.mobile .text-xs{
  font-size: 1rem;
}

.mobile p{
  font-size: .9rem;
}