.sidebar-sticky {
  position: sticky;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

li {
  margin: 0px;
}

p {
  margin-bottom: 0;
}

a {
  color: black;
}

.sidebar-sticky .nav-link {
  font-weight: 500;
  color: #333;
}

a {
  transition: font-size 0.2s;
}

a:hover {
  font-size: larger;
  transition: font-size 0.2s;
}
