.toggle {
  display: inline-table;
  transition: display 0s, opacity 0.5s linear;
}

.not-toggle {
  display: none;
  transition: display 0s, opacity 0.5s linear;
}

.long-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
