
<app-cargando [isLoaded]="isLoaded" *ngIf="openTable"></app-cargando>

<table class="table table-hover table-sm" *ngIf="isLoaded" [ngClass]="{'toggle': openTable,'not-toggle' : !openTable}">
    <thead>
    <tr>
        <th class="col-2">ID</th>
        <th class="col-4">Sub Categoria</th>
        <th class="col-3">Concepto</th>
        <th class="col-3">Monto</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let g of gastos; index as i"> 
        <td class="col-2" scope="row">{{i+1}}</td>
        <td class="col-4">{{g.subCategoria}}</td>
        <td class="col-3">{{g.concepto}}</td>
        <td class="col-3" [ngClass]="{'text-green': g.monto<0,'text-danger': g.monto>0}">
            <div *ngIf="g.monto<0">
                {{g.monto*-1 | currency}}
            </div>
            <div *ngIf="g.monto>0">
                {{g.monto | currency}}
            </div>                                                
        </td>                                                
    </tr>
    <tr> 
        <td class="col-2"></td>
        <td class="col-4"></td>
        <td class="col-3"></td>
        <td class="col-3 text-danger h5">{{total | currency}}</td>
    </tr>
    </tbody>
</table>


