<div class="container text-center">
    <div class="card send-card shadow">
        <div class="card-body">
            <div class="brand-wrapper text-center">
                <img src="/assets/svg/MyWasteAppLogo.svg" width="90" height="90" class="mb-1">
                <h4 class="pl-2 text-muted">WasMo</h4>
            </div>
            <h3 class="font-italic text-muted"><i class="text-warning fas fa-key"></i> Recuperar Contraseña!</h3>
            

            <form [formGroup]="RecoverForm" (ngSubmit)="onSubmit()" class="text-left" *ngIf="!emailSent">    
                <p class="font-italic text-muted">Ingresa el email de la cuenta que quieres recuperar.</p>

                <div class="form-group">
                    <input
                        id="email"
                        type="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="Email"
                        required
                        [ngClass]="{
                            'is-valid': email && email.valid,
                            'is-invalid': email && email.errors && (email.dirty || email.touched)}"/>
                </div>

                <p class="text-danger text-center" *ngIf="feedback"><i class="fas fa-exclamation-triangle"></i> {{feedback}}</p>
                
                <button  [disabled]="!RecoverForm.valid" class="btn btn-waste btn-lg btn-block mt-4 shadow" >
                    Recupera tu cuenta <i class="fas fa-sign-in-alt"></i>
                </button>
            </form>

            <div *ngIf="emailSent">
                <p class="h5 font-italic text-muted"><i class="text-green fas fa-check"></i> Email enviado con Exito</p>
                <p class="font-italic text-muted">Hemos enviado un mensaje a tu cuenta de email <strong class="text-waste">{{email?.value}}</strong> para que puedes restablecer tu Contraseña, 
                    recuerda de revisar los <strong>correos no deseados</strong>.</p>

                <button  class="btn btn-waste btn-lg btn-block mt-4 shadow" routerLink="/login">
                    Ingresa a tu cuenta <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>

            <div class="mt-3">
                <p class="login-card-footer-text">
                Ya recuerdas tu Contraseña?
                <a class="text-secondary" href="#!" routerLink="/login">Ingresa aqui</a>
                </p>
            </div>
        </div>
    </div>
</div>