<div class="container text-center">
    <div class="card send-card shadow">
        <div class="card-body">
            <div class="brand-wrapper text-center">
                <img src="/assets/svg/MyWasteAppLogo.svg" width="90" height="90" class="mb-1">
                <h4 class="pl-2 text-muted">WasMo</h4>
            </div>
            <h3 class="font-italic text-muted"><i class="fas fa-check text-green"></i> Cuenta verificada!</h3>
            <p class="font-italic text-muted">Tu email ha sido verificado correctamente.</p>

            <button  class="btn btn-waste btn-lg btn-block mt-4 shadow" routerLink="/login">
                Ingresar a tu cuenta <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
    </div>
</div>